.services {
  background-color: var(--background);
  padding-bottom: 1rem;
  min-height: 100vh;
  height: 100%;
  background-image: url("../../assets/images/energy.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5rem;
}

.services > div {
  width: 32%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 3rem;
}

.services > div > h2 {
  text-align: left;
  width: 100%;
  font-size: 2rem;
  text-transform: uppercase;
  color: #ffff;
  -webkit-text-stroke: 0.1px black;
  text-shadow: 2px 2px black;
  animation: 1s anim ease-in;
}

.services > div > p {
  width: 100%;
  font-size: 1.3rem;
  text-align: left;
  color: #ffff;
  -webkit-text-stroke: 0.1px black;
  text-shadow: 2px 2px black;
  animation: 1.25s anim ease-in;
}

.services > div > p > a {
  color: aqua;
  text-decoration: none;
  font-weight: bold;
}

.services > section {
  border: 1px solid var(--background);
  width: 650px;
  height: 65vh;
  background-color: #0c1137;
}

.carousel {
  border-radius: 1rem;
  animation: 1s anim ease-in;
  height: 65vh;
}

.prediction,
.design,
.report,
.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #0c1137;
  height: 60vh;
}

.prediction > h2,
.design > h2,
.report > h2,
.history > h2 {
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  height: 5vh;
  color: #ffff;
  -webkit-text-stroke: 1px black;
  font-size: 2em;
  font-weight: 800;
  filter: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prediction > p,
.design > p,
.report > p,
.history > p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  color: #ffff;
  font-size: 0.9rem;
  -webkit-text-stroke: 0.2px black;
  text-shadow: 2px 2px black;
  height: 5vh;
  margin-bottom: 10px;
}

.prediction > img,
.design > img,
.report > img,
.history > img {
  width: 85%;
  height: 45vh;
  margin: auto;
}

@keyframes wipe-in-bottom-right {
  from {
    clip-path: polygon(0 0, 0 0, 0 0, 0 50%);
  }
  to {
    clip-path: polygon(-50% 0%, 200% 0, 0 200%, 0 -50%);
  }
}

@keyframes wipe-in-bottom-left {
  from {
    clip-path: polygon(50% -50%, 150% 50%, 150% 50%, 50% -50%);
  }
  to {
    clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
  }
}

@keyframes anim {
  0% {
    opacity: 0;
    transform: translatey(80%);
  }
  35% {
    opacity: 0.35;
    transform: translatey(60%);
  }
  70% {
    opacity: 0.7;
    transform: translatey(40%);
  }
  100% {
    opacity: 1;
    transform: translatey(0%);
  }
}
