.services {
  background-color: rgba(248, 244, 29, 0.2);
  padding-bottom: 1rem;
}

.services > h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: rgb(95, 95, 95);
}

.services {
  background-color: rgba(248, 244, 29, 0.2);
}

.services > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
  width: 80%;
  margin: auto;
}

.services {
  background-color: rgba(248, 244, 29, 0.2);
}

.services > div > div {
  width: 450px;
  height: 300px;
  margin: auto;
}

.services {
  background-color: rgba(248, 244, 29, 0.2);
}

.services > div > div > h2 {
  opacity: 1;
  text-align: center;
  padding-top: 3rem;
  color: #ffff;
  -webkit-text-stroke: 1px black;
  font-size: 2.6rem;
  font-weight: 800;
}

.services {
  background-color: rgba(248, 244, 29, 0.2);
}

.services > div > div > span {
  opacity: 1;
  text-align: center;
  padding: 1rem;
  color: #ffff;
  font-size: 1.1rem;
  -webkit-text-stroke: 0.2px black;
  text-shadow: 2px 2px black;
}

.services {
  background-color: rgba(248, 244, 29, 0.2);
}

.services > div > div > button {
  background-color: #ffff;
  width: 50%;
  height: 3rem;
  border: 1px solid blue;
  border-radius: 3rem;
  margin: auto;
  text-transform: uppercase;
  color: blue;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.5s;
}

.services {
  background-color: rgba(248, 244, 29, 0.2);
}

.services > div > div > button:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
}

.prediction,
.design,
.report,
.history {
  background-repeat: round;
  background-size: cover;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
}

.prediction {
  background-image: url("/src/assets/images/prediccion.jpeg");
  animation: 3s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-bottom-right both;
}

.design {
  background-image: url("/src/assets/images/empresa.jpeg");
  animation: 3s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-bottom-left both;
}

.report {
  background-image: url("/src/assets/images/informe.jpg");
  animation: 3s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-bottom-right both;
}

.history {
  background-image: url("/src/assets/images/historico.jpeg");
  animation: 3s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-bottom-left both;
}

@keyframes wipe-in-bottom-right {
  from {
    clip-path: polygon(0 0, 0 0, 0 0, 0 50%);
  }
  to {
    clip-path: polygon(-50% 0%, 200% 0, 0 200%, 0 -50%);
  }
}

@keyframes wipe-in-bottom-left {
  from {
    clip-path: polygon(50% -50%, 150% 50%, 150% 50%, 50% -50%);
  }
  to {
    clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
  }
}
