.data {
  background-color: black;
  font-family: "Open Sans", sans-serif;
  /* padding-left: 1%; */
  /* padding-right: 1%; */
  height: fit-content;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  min-height: 80vh;
}

/* Header */

.data > header {
  height: 6%;
  display: flex;
  justify-content: start;
  gap: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}

.data > header > select {
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  border-bottom: none;
  padding: 2px;
  width: 8rem;
}

.data > header > h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(221, 34, 34, 0.96);
  font-size: 1.25rem;
  border: 1px solid rgba(221, 34, 34, 0.96);
  padding: 2px 1.5rem 2px 1.5rem;
  background-color: white;
  -webkit-text-stroke: 0.1px black;
}

/* Main */

/* Secciones principales */
.data > main {
  /* height: 84%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* gap: 1rem; */
}

/* Filtros y Grafico de linea */

.data > main > div {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Filtros */
.data > main > div > section:first-child {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* gap: 2rem; */
}

/* Filtro de dias*/
.dateFilter {
  display: flex;
  justify-content: start;
  gap: 3px;
}

.dateFilter > select {
  width: 100%;
  height: 1.75rem;
  padding: 2px;
  color: white;
  background-color: black;
  text-align: center;
  font-weight: bold;
  -webkit-text-stroke: 0.1px black;
}

.dateFilter > select > option {
  text-align: center;
}

/* Filtro del grafico */

.graphFilter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* color: white; */
  gap: 10px;
}

.graphFilter > label {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

/* Ejecutada */
.graphFilter > label:first-child {
  color: rgb(8, 197, 18);
}

/* Prediccion */
.graphFilter > label:nth-child(2) {
  color: rgb(128, 0, 128);
}

/* Diario */
.graphFilter > label:last-child {
  color: rgb(0, 153, 255);
}

/* Grafico de linea */
.data > main > div > section:last-child {
  width: 68%;
}

.data > main > div > section:last-child > label {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  color: white;
  background-color: rgba(221, 114, 26, 0.7);
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
}

.lineGraph {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background-color: rgba(128, 128, 128, 0.1); */
}

/* Seccion de grafico de barras semanal e intervalos */
.data > main > article {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  align-items: center;
}

/* Intervalos de prediccion */
.interval {
  display: flex;
  color: white;
}

.interval > div {
  width: 50%;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8rem;
}

.interval > div:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

/* Intervalo horario */
.interval > div:first-child > p:first-child {
  font-weight: bold;
}

.interval > div:first-child > p:nth-child(2) {
  font-weight: bold;
  color: rgba(221, 53, 41, 0.7);
  font-size: 1.2rem;
}

/* Maxima potencia */
.interval > div:last-child > p:first-child {
  font-weight: bold;
}

.interval > div:last-child > p:nth-child(2) {
  font-weight: bold;
  color: rgba(8, 197, 18, 0.6);
  font-size: 1.5rem;
}

.interval > div:last-child > p:last-child {
  font-size: 0.9rem;
}

/* Grafico semanal */

.data > main > article > section:last-child {
  width: 70%;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.1);
}

/* Seccion de grafico de barras mensual*/
.data > main > section {
  /* margin-top: 1rem; */
  /* border: 1px solid white; */
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data > main > section > h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(95, 65, 143, 0.2);
  width: 100%;
  height: 1.3rem;
  color: rgba(253, 219, 107, 0.6);
  text-align: center;
  font-weight: bold;
  -webkit-text-stroke: 0.1px black;
  letter-spacing: 0.5px;
}

.barGraph {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.1);
}

/* Loader */

.loader {
  height: 670px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
