.data {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

/* Boton de salir */
.data > a {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: white;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding-bottom: 4px;
  border: 2px solid white;
  border-radius: 10px;
  height: 2rem;
  width: 2rem;
}

/* Header */

.data > header {
  width: 14%;
  min-height: 100vh;
}

/* Main */

/* Secciones principales */
.data > main {
  width: 86%;
  min-height: 100vh;
  display: flex;
}

.data > main > div:first-child {
  width: 68%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.data > main > div:first-child > div {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

/* Tabla de Estimacion GDx*/
.tableData {
  width: 19%;
  margin: auto;
  min-height: 48vh;
}

.tableData > div > div > div > div {
  background: #232c79;
  border-radius: none;
}

.tableData > div > div > div > div > div {
  background: #0c1137;
  color: white;
  font-size: 12px;
}

.tableData
  > div
  > div
  > div
  > div
  > div
  > div:first-child
  > table
  > thead
  > tr
  > th {
  background: #232c79;
  color: white;
}
.tableData
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(2)
  > table
  > tbody
  > tr:hover {
  color: red;
}

.colorMax {
  background-color: red;
}

/* Seccion de grafico de barras semanal e intervalos */
.data > main > div:first-child > article {
  width: 95%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: 10vh;
}

/* Seccion de grafico de barras mensual*/
.data > main > div:first-child > section {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 25vh;
}

.data > main > div:first-child > section > h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232c79;
  width: 100%;
  height: 2rem;
  color: white;
  text-align: center;
  font-weight: bold;
  -webkit-text-stroke: 0.1px black;
  letter-spacing: 0.5px;
}

/* Generacion */

.data > main > div:nth-child(2) {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.data > main > div:nth-child(2) > h2 {
  width: 100%;
  min-height: 5vh;
  background-color: #232c79;
  text-align: center;
  margin-top: 0.65rem;
  border: 1px solid gray;
}

/* Loader */

.loader {
  min-height: 100vh;
  width: 86%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
