.mainDiv {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  max-height: 100vh;
  scroll-snap-type: y mandatory;
}

.snap {
  scroll-snap-align: center;
}

.home {
  scroll-snap-align: center;
  background-color: rgba(45, 0, 91, 0.9);
  position: relative;
  top: 0;
  background-image: url("/src/assets/images/city.jpg");
  background-repeat: round;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  animation: 3s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-bottom-right both;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

@keyframes wipe-in-bottom-right {
  from {
    clip-path: polygon(0 0, 0 0, 0 0, 0 50%);
  }
  to {
    clip-path: polygon(-50% 0%, 200% 0, 0 200%, 0 -50%);
  }
}

.home > h1,
.home > p {
  width: 70%;
  color: #ffff;
  letter-spacing: 1px;
  -webkit-text-stroke: 0.1px black;
  text-shadow: 5px 5px black;
  text-align: center;
}

.home > h1 {
  font-size: 3rem;
  animation: 10s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
}

.home > p {
  font-size: 1.5rem;
  animation: 10s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
}

@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

.up {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
  color: white;
  font-size: 2.5rem;
}
