.home {
  padding-bottom: 3rem;
  background-color: rgba(248, 244, 29, 0.2);
}

.home > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home > header > p {
  font-size: 2rem;
  padding-left: 6rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgb(133, 14, 180);
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
}

.linkContact {
  margin-right: 6rem;
  padding: 6px;
  border: 2px solid rgba(248, 127, 29, 0.9);
  border-radius: 4rem;

  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgba(248, 127, 29, 0.9);

  transition: 0.2s;
}

.linkContact:hover {
  cursor: pointer;
  background-color: rgba(248, 127, 29, 0.9);
  color: white;
}

.home > section {
  background-image: url("/src/assets/images/city.jpg");
  background-repeat: round;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  animation: 3s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-bottom-right both;
}

@keyframes wipe-in-bottom-right {
  from {
    clip-path: polygon(0 0, 0 0, 0 0, 0 50%);
  }
  to {
    clip-path: polygon(-50% 0%, 200% 0, 0 200%, 0 -50%);
  }
}

.home > section > h1,
.home > section > p {
  margin: auto;
  width: 70%;
  color: #ffff;
  letter-spacing: 1px;
  -webkit-text-stroke: 0.1px black;
  text-shadow: 5px 5px black;
  text-align: center;
}

.home > section > h1 {
  padding-top: 7rem;
  font-size: 3rem;
  animation: 10s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
}

.home > section > p {
  padding-top: 3rem;
  font-size: 1.5rem;
  animation: 10s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
}

@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}
