.navbar {
  height: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10rem;
  background-color: rgb(133, 14, 180);
}

.navbar a {
  display: flex;
  width: fit-content;
  font-size: 0.75rem;
  text-decoration: none;
  color: #ffff;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid white;
}

.navbar div {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  gap: 3px;
}

.navbar div img {
  height: 0.75rem;
}

.navbar div p {
  color: #ffff;
  font-size: 0.75rem;
  font-weight: bold;
}
