.navbar {
  height: 6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 12rem;
  background-color: rgba(45, 0, 91, 0.8);
  margin: auto;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbar a {
  display: flex;
  width: fit-content;
  font-size: 0.75rem;
  text-decoration: none;
  color: #ffff;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #ffff;
}

.navbar div {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  gap: 3px;
}

.navbar div img {
  height: 0.75rem;
}

.navbar div p {
  color: #ffff;
  font-size: 0.75rem;
  font-weight: bold;
}

.navbar > a:first-child {
  width: 9rem;
  padding: 0;
  border: none;
  position: absolute;
  left: 5rem;
}

.navbar > a:first-child > img {
  width: 9rem;
}
