.checkbox {
  display: flex;
  flex-direction: column;
  width: 7.5rem;
  height: 4rem;
  overflow: scroll;
  font-size: 0.85rem;
  padding-left: 1rem;
}

.checkbox > label > input {
  margin-right: 8px;
}
