/* Intervalos de prediccion */
.interval,
.intervalHistory {
  width: 100%;
  display: flex;
  align-items: center;
  height: 10vh;
}

.interval {
  justify-content: space-between;
}

.intervalHistory {
  justify-content: space-evenly;
}

.interval > div,
.intervalHistory > div {
  width: 23.125%;
  border: 1px solid gray;
  text-align: center;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  background-color: #232c79;
}

.interval > div > p:first-child,
.intervalHistory > div > p:first-child {
  font-weight: bold;
  color: #45cab5;
  font-size: 1rem;
}

.interval > div > p:nth-child(2),
.intervalHistory > div > p:nth-child(2) {
  font-weight: bold;
  color: white;
  font-size: 0.85rem;
}
