/* Filtros y Grafico de linea */

.graphLineData {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Filtros */
.graphLineData > section:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Filtro de dias*/
.dateFilter {
  display: flex;
  justify-content: start;
  gap: 3px;
}

.dateFilter > select {
  width: 100%;
  height: 1.75rem;
  padding: 2px;
  color: white;
  background-color: black;
  text-align: center;
  font-weight: bold;
  -webkit-text-stroke: 0.1px black;
}

.dateFilter > select > option {
  text-align: center;
}

/* Filtro del grafico */

.graphFilter {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: #232c79;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.graphFilter > label {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  font-size: 0.8rem;
}

/* Ejecutada */
.graphFilter > label:first-child {
  color: rgb(8, 197, 18);
}

/* Diario */
.graphFilter > label:nth-child(2) {
  color: rgb(78, 78, 255);
}

/* Repro Diario */
.graphFilter > label:nth-child(3) {
  color: rgb(0, 225, 255);
}

/* Estimacion GDx */
.graphFilter > label:nth-child(4) {
  color: rgb(247, 39, 247);
}

/* MDC GDx */
.graphFilter > label:nth-child(5) {
  color: rgb(255, 255, 0);
}

/* Maximo GDx */
.graphFilter > label:nth-child(6) {
  color: red;
}

/* Grafico de linea */
.graphLineData > section:first-child {
  width: 100%;
  background-color: #232c79;
  /* margin-top: 0.5rem; */
}

.graphLineData > section:first-child > label {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  color: white;
  background-color: rgba(221, 114, 26, 0.7);
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
}

.lineGraph {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
