.calendar {
  margin: auto;
  background-color: #0c1137;
  width: 95%;
}

.calendar > form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3.5rem;
}

.calendar > form > input {
  font-size: 1rem;
  background: none;
  color: white;
  border: none;
}

.calendar > form > input:hover {
  cursor: pointer;
}

.calendar > form > button {
  color: rgb(221, 218, 218);
  font-size: 1rem;
  background: none;
  border: none;
}

.calendar > form > button:hover {
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
}
